<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>编辑幻灯片</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/X-admin/css/font.css">
    <link rel="stylesheet" href="/static/X-admin/css/xadmin.css">
    <script type="text/javascript" src="/static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/X-admin/js/xadmin.js"></script>
</head>
<body>
    <form class="layui-form">
        <br>
		<div class="layui-form-item">
            <input type="hidden" name="film_id" value={$BannerInfo['id']}>
			<label class="layui-form-label">幻灯片名称</label>
			<div class="layui-input-block" style="width: 400px;">
				<input type="text" class="layui-input" name="title" value={$BannerInfo['title']}>
			</div>
        </div>
        <div class="layui-form-item">
			<label class="layui-form-label">URL</label>
			<div class="layui-input-block" style="width: 400px;">
				<input type="text" class="layui-input" name="url" value={$BannerInfo['url']}>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">&nbsp;</label>
			<div class="layui-input-inline">
				<button class="layui-btn layui-btn-sm" onclick="return false;" id="upload_img"><i class="layui-icon">&#xe67c;</i>上传图片</button>
				<img  id="pre_img"  <?php if($BannerInfo['img']){echo 'src="'.$BannerInfo['img'].'"';}?> style="height: 100px;margin-top: 10px;" />
				<input type="hidden" name="img">
			</div>
		</div>
	</form>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" onclick="save()">保存</button>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	layui.use(['form','layer','upload'],function(){
		$ = layui.jquery;
		var form = layui.form;
		layer = layui.layer;

		var upload = layui.upload;
   
		 //执行实例
		var uploadInst = upload.render({
			elem: '#upload_img' //绑定元素
			,url: '/admin/BannerManage/upload_img' //上传接口
			,accept:'images'
			,done: function(res){
			  //上传完毕回调
			  $('#pre_img').attr('src',res.msg);
			  $('input[name="img"]').val(res.msg);
			}
			,error: function(){
			  //请求异常回调
			}
		});
	});

	// 保存
	function save(){
		var title = $.trim($('input[name="title"]').val());
		var url = $.trim($('input[name="url"]').val());
		if(title == ''){
			layer.msg('请输入幻灯片名称',{'icon':2,'anim':6});
			return;
		}
		if(url == ''){
			layer.msg('请输入影片url',{'icon':2,'anim':6});
			return;
		}
		$.post('/admin.php/BannerManage/save',$('form').serialize(),function(res){
			if(res.code>0){
				layer.msg(res.msg,{'icon':2,'anim':2});
			}else{
				layer.msg(res.msg,{'icon':1});
				setTimeout(function(){parent.window.location.reload();},1000);
			}
		},'json');
	}
</script>